@page "/counter"

<MatBlazor.MatCard>
    <h1 style="text-align:center">Counter</h1>
    <p style="text-align:center">Current count: @currentCount</p>
    <MatBlazor.MatButton @onclick="@IncrementCount">Click me</MatBlazor.MatButton>
</MatBlazor.MatCard>


@code {
int currentCount = 0;

void IncrementCount()
{
    currentCount++;
}

}
